:root {
  --font-default: "Roboto";
  --font-header: "Baskerville";
  --color-azure: #1797ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-default);
}

body {
  background-color: #fcfcfc;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

/* //Typography */
h1 {
  font-size: 1.75rem;
}

p,
span,
div {
  font-size: 0.875rem;
}

@media (min-width: 1200px) {
  .center {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}
